---
layout: blog-layout
---

            <h2>{{ page.title }}</h2>

            <p class="blog-post-link-date-para"><small class="blog-post-link-date">{{ page.date | date: "%-d %B %Y" }}</small></p>

            <p class="blog-post-read-time-para"><small>Reading time ~{{ content.size | readtime }} min | Categories:
            {% for category in page.categories %}
                <a href="{{ site.url }}/blog/categories/{{ category  }}">{{ category  }}</a>&nbsp;
            {% endfor %}
            </small></p>
            <div class="post">
            {{ content }}
            </div>

