# Jekyll configuration precedence:
# 1. Gruntfile task
# 2. config.build.yml
# 3. config.yml

name: patrickgrey.1.1
description: Desc
author:
  name: Patrick Grey
  email: websemantic@yahoo.co.uk

# Grunt handles images and assets.
# exclude: ['img', 'css', 'js', 'fonts', '**.md',
exclude: ['img', 'css', 'js', 'fonts',
          '**.png', '**.jpg', '**.jpeg', '**.gif', '**.webp', '**.svg', '**.ico']

include: ['.htaccess']

# _config.build.yml sets future and show_drafts to false on `grunt build`
future: true
show_drafts: true

permalink: date

paginate: 3
paginate_path: 'blog/page:num'

# Markdown library
markdown: redcarpet
#   extensions: ['fenced_code_blocks', 'smart']

pygments: false

# Custom Variables
recent-post-count: 5
