.blog-post-links {
  //position: relative;
  list-style: none;
  padding-left: 1em;
}

/* .blog-post-link {
  padding-bottom: 1em;
  position: relative;
} */

.blog-post-links li h3:before{
  content: " ";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 1em;
    // margin-left:50%;
    // background: $body-background-colour url('../img/logo/drop-blue.png') no-repeat 50% 100%;
    background: $body-background-colour url('../img/icons/icons_sprite.svg') no-repeat 0 -70px;
    // background-position: -99px 0;
    // margin-top: 2em;
}

.blog-post-links h3{
  margin-bottom: 0;
}

.blog-post-links p{
  margin-top: 0.5em;
}

/* ul */.blog-post-links a:link, /* ul */.blog-post-links a:visited{
    color: $role-main-link-colour;
}

.blog-post-link-date {
  // float:right;
  display: block;
  margin: 0.75em 0 1em 0;
  color: #999;
  font-size: 110%;
}

.blog-more-instructions {
  font-size: 120%;
  color: $logo-colours-drop-1;
}

