.contact-links {
    margin:0 0 3em 0;
    padding:0;
    list-style: none;
    width: 100%;
}

.contact-links li{
    display: block;
    height: $contact-links-icon-height;
    // margin-bottom: 1em;
    margin-left: 1em;
}



@media all and (min-width: $contact-links-icon-show-media-query) {

  .contact-links li{
      margin-bottom: 1em;
      margin-left: 0;
  }

  .contact-links a:before {
    content:"";
    display: inline-block;
    width: $contact-links-icon-height;
    height: $contact-links-icon-height;
    padding-right: 0.5em;
    background: $body-background-colour url('../img/icons/icons_sprite.svg') no-repeat;
    vertical-align: middle;
  }

}

.contact-links a:link, .contact-links a:visited {
  color: $role-main-link-colour;
}

.contact-links a.contact-email:before {
    background-position: -99px 0;
}

.contact-links a.contact-twitter:before {
    background-position: -299px 0;
}

.contact-links a.contact-google:before {
    background-position: -199px 0;
}

.contact-links a.contact-github:before {
    background-position: -599px 0;
}

.contact-links a.contact-linkedin:before {
    background-position: -399px 0;
}

.contact-links a.contact-youtube:before {
    background-position: -499px 0;
}