/* ul */.examples {
    list-style: none;
    margin: 2em 0 4em 0;
    padding: 0;
}

/* ul */.examples li{
    //display: inline-block;
    // width:200px;
    display: block;
    clear: both;
}

/* ul */.examples a:link p, /* ul */.examples a:visited p{
    color: $role-main-link-colour;
}

/* ul */.examples a:hover p,/* ul */.examples a:focus p,/* ul */.examples a:active p{
  text-decoration: underline;
  text-decoration: underline solid $role-main-link-colour;
}

/* ul */.examples h3 {
    color: #84b03f;
}

.examples-thumbnail:after {
    content:" ";
    display: block;
    float:left;
    width:100px;
    height:100px;
    background-image: url(../img/examples/thumbnails/example-thumb-sprite-sheet.jpg);
    background-size:200%;
    background-repeat: no-repeat;
    border: #84b03f solid 5px;
    border-right-width: 1em;
    margin: 0 1em 2em 0;
}

.example-website .examples-thumbnail:after, .example-website h3{
    /* border-color: $logo-colours-green;
    color: $logo-colours-green; */
    border-color: $logo-colours-drop-3;
    color: $logo-colours-drop-3;
}

.example-elearning .examples-thumbnail:after, .example-elearning h3{
    border-color: $logo-colours-drop-1;
    color: $logo-colours-drop-1;
}

.example-webapp .examples-thumbnail:after, .example-webapp h3{
    border-color: $logo-colours-drop-2;
    color: $logo-colours-drop-2;
}

.example-nmo:after{
    background-position: 0 0;
}

.example-fple:after{
    background-position: -100px 0;
}

.example-ht:after{
    background-position: 0px -100px;
}

.example-pg:after{
    background-position: -100px -100px;
}



.example-webapp .example-fple:after{
    background-image: url(../img/examples/thumbnails/example-webapp-thumb-sprite-sheet.jpg);
    background-position: -100px 0;
}

.example-webapp .example-sayagain:after {
    background-image: url(../img/examples/thumbnails/example-webapp-thumb-sprite-sheet.jpg);
    background-position: 0 -100px;
}

.example-webapp .example-fpl:after{
    background-image: url(../img/examples/thumbnails/example-webapp-thumb-sprite-sheet.jpg);
    background-position: 0 0;
}

.example-webapp .example-ap:after {
    background-image: url(../img/examples/thumbnails/example-webapp-thumb-sprite-sheet.jpg);
    background-position: -100px -100px;
}




.example-elearning .example-nmo:after{
    background-image: url(../img/examples/thumbnails/example-elearning-thumb-sprite-sheet.jpg);
    background-position: 0 0;
}

.example-elearning .example-consult:after {
    background-image: url(../img/examples/thumbnails/example-elearning-thumb-sprite-sheet.jpg);
    background-position: -100px 0;
}

.example-elearning .example-acdm:after{
    background-image: url(../img/examples/thumbnails/example-elearning-thumb-sprite-sheet.jpg);
    background-position: -100px -100px;
}

.example-elearning .example-ht:after {
    background-image: url(../img/examples/thumbnails/example-elearning-thumb-sprite-sheet.jpg);
    background-position: 0 -100px;
}




.example-website .example-btc:after{
    background-image: url(../img/examples/thumbnails/example-website-thumb-sprite-sheet.jpg);
    background-position: 0 0;
}

.example-website .example-pg:after {
    background-image: url(../img/examples/thumbnails/example-website-thumb-sprite-sheet.jpg);
    background-position: -100px 0;
}

.example-website .example-jg:after{
    background-image: url(../img/examples/thumbnails/example-website-thumb-sprite-sheet.jpg);
    background-position: 0 -100px;
}





.examples p{
        margin-top: 0;
    }

    .examples h3{
        margin-bottom: 0.5em;
    }

//example-thumb-sprite-sheet.fw.png

@media all and (min-width: $break-points-font-medium) {

    .examples h3{
        margin-bottom: 0;
    }

}