html, body {
    font-family: 'Fjalla One', sans-serif;
}

p {
    // font-family: "helvetica", "arial", sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 110%;
    line-height: 1.5em;
    color: #555;
}

h1, h2, h3 {
    font-weight: normal;
    color: #888;
}

/* http://www.google.com/fonts#ChoosePlace:select/Collection:Source+Sans+Pro|Dosis|Droid+Sans+Mono|Monda|Days+One|Ubuntu+Condensed|Oxygen|Francois+One|Fjalla+One|Hammersmith+One|Archivo+Black|Julius+Sans+One|Marmelad

http://www.google.com/fonts#ChoosePlace:select/Collection:Source+Sans+Pro|Dosis|Droid+Sans+Mono|Monda|Days+One|Ubuntu+Condensed|Oxygen|Francois+One|Fjalla+One|Hammersmith+One|Archivo+Black|Julius+Sans+One|Marmelad|Doppio+One */