html, body {
    // font-family: 'Fjalla One', sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-weight: 300;
    font-size: 110%;
    line-height: 1.5em;
    color: #555; */
}

p, .contact-links, .post ul {
    // font-family: "helvetica", "arial", sans-serif;
    // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 110%;
    line-height: 1.5em;
    color: #555;
}


.post ul li ul {
        // font-size: 100%*1.5;
        // line-height: 1.5em;
    }


h1, h2, h3, .navigation {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    color: #888;
}




@media all and (min-width: $break-points-font-medium) {
    p, .contact-links, .post ul {
        font-size: 110%*1.5;
        // line-height: 1.5em;
    }

    .post ul li ul {
        font-size: 100%;
        // line-height: 1.5em;
    }

    h2 {
        font-size: 150%*1.5;
    }

    h3 {
        font-size: 119%*1.5;
    }
}


/* http://www.google.com/fonts#ChoosePlace:select/Collection:Source+Sans+Pro|Dosis|Droid+Sans+Mono|Monda|Days+One|Ubuntu+Condensed|Oxygen|Francois+One|Fjalla+One|Hammersmith+One|Archivo+Black|Julius+Sans+One|Marmelad

http://www.google.com/fonts#ChoosePlace:select/Collection:Source+Sans+Pro|Dosis|Droid+Sans+Mono|Monda|Days+One|Ubuntu+Condensed|Oxygen|Francois+One|Fjalla+One|Hammersmith+One|Archivo+Black|Julius+Sans+One|Marmelad|Doppio+One */