/* ********* */
/* STRUCTURE */
/* ********* */

.logo-link {
  margin:0;
  padding:0 0 120px 0;
}

.logo-link span{
  width: 637px;
  height: 120px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(../img/logo/patrick-grey-logo.png) no-repeat;
}
