.lab a:link, .lab a:visited {
  color: $role-main-link-colour;
}

.lab a:hover, .lab a:focus, .lab a:active   {
  text-decoration: underline;
  text-decoration: underline solid $role-main-link-colour;
}

.lab h2:after {
    content: " ";
    display: block;
    width: 60px;
    height: 89px;
    margin:0 auto;
    background: $body-background-colour url('../img/icons/icons_sprite.svg') no-repeat 0% 0%;
    // background-size:1200%;
    margin-bottom: 1em;
}