@import "compass/css3/text-shadow";

.skip-navigation {
    padding: 2em 1em 1em 1em;
    position: absolute;
    top: -5em;
    right: 0.2em;
    color: white;
    background: #666;
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
    z-index: 100;
}

.skip-navigation:focus {
    position: absolute;
    top: 0px;
    outline: 0;
    -webkit-transition: top .3s ease-in;
    transition: top .3s ease-in;
}

/* ul */.navigation {

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ul */.navigation li a{
    // margin-top: -0.3em;
    display: block;
    font-size: 1.5em;
    width: 100%;
    padding: 0.7em 0 0.8em 0;
    color: #eee;
    @include text-shadow(#333 1px 1px 0);
}

/* ul .navigation li*/.hello {
    // background-color: $logo-colours-hello-bg;
    background-color: $logo-colours-green;
}

/* .navigation li.hello a {
    color: $logo-colours-hello-colour;
} */

/* ul .navigation li*/.elearning {
    background-color: $logo-colours-drop-1;
}

/* ul .navigation li*/.webapps {
    background-color: $logo-colours-drop-2;
}

/* ul .navigation li*/.websites {
    background-color: $logo-colours-drop-3;
}

/* ul .navigation li*/.blog {

    background-color: $logo-colours-drop-4;
}

/* ul */.navigation-top {
    display: none;
}

/* ul */.navigation-top .navigation-active {
    border-bottom: solid 15px #CCC;
}

/* ul */.navigation-bottom .navigation-active {
    border-left: solid 15px #CCC;
    // margin-left: -15px;
}

/* ul */.navigation-bottom .navigation-active a {
    // border-left: solid 15px #CCC;
    margin-left: -7px;
}

/* .navigation-active {
    text-decoration: underline;
} */

.navigation-top-container {
    margin-top: 3em;
    margin-bottom: 3em;
    overflow: auto;
}

.jump-to-navigation-bottom{
    display: block;
    position: absolute;
    top:0.75em;
    right:0.6em;
    width: 2em;
    height: 1.25em;
    background: $body-background-colour;
    // background: #f00;
    border-color: #8d8884;
    border-width: 0;
    border-style: solid;
    border-left-width:0;
    border-right-width:0;
}

//http://stackoverflow.com/questions/16280257/how-to-change-to-color-of-pseudo-elements-in-css-through-jquery

.jump-to-navigation-bottom:focus{
    /* outline: 3px solid #ccc;
    background: #eee; */
    border-color: #f60;
}

.jump-to-navigation-bottom:before {
    content: " ";
    display: block;
    position: absolute;
    width: 2em;
    height: 0.25em;
    border-top-color: inherit;
    border-top-width: 0.25em;
    border-top-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 0.25em;
    border-bottom-style: inherit;
    border-left-width:0;
    border-right-width:0;
    // border-bottom: 0.25em solid;
}


.jump-to-navigation-bottom:after {
    content: " ";
    display: block;
    position: absolute;
    top:1em;
    width: 2em;
    height: 0.25em;
    // border-top: 0.25em solid;
    border-top-color: inherit;
    border-top-width: 0.25em;
    border-top-style: inherit;
    border-bottom-width:0;
    border-left-width:0;
    border-right-width:0;
}

.footer-bottom {
    position: relative;
    background: #333;
    color: #fff;
    height: 6.5em;
}

.footer-bottom-copyright {
    position: absolute;
    padding: 0;
    margin: 0;
    color: #ddd;
    bottom: 0.5em;
    left: 0.5em;
}

.jump-to-page-top {
    display: block;
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    width: 3em;
    height: 2.5em;
    background: #444;
    color: #eee;
}

.jump-to-page-top span{
    position: absolute;
    top: 0.9em;
    right: 0.4em;
}

.jump-to-page-top:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0.35em;
    left: 0.45em;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
}

.jump-to-page-top:hover, .jump-to-page-top:focus, .jump-to-page-top:active {
    background: #000;
    color: #ff0;
}