.main-section-inner {
    margin: 0 1em;
}


.main-section:after, .main-section-no-top:after {
    content: " ";
    display: block;
    border-top: 15px solid $role-main-section-divider-colour;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    z-index: 1;
    margin-top: 3em;
}

.main-section:before, .nav:before {
    content: " ";
    display: block;
    width: 12px;
    height: 2em;
    margin-left:25%;
    background: #D4DEEF url('../img/logo/drop-blue.png') no-repeat 50% 100%;
    margin-bottom: 3em;
}

.main a:link, .main a:visited {
  color: $role-main-link-colour;
  // font-weight: bold;
}

.main a:hover, .main a:focus, .main a:active   {
  /* text-decoration: none;
  background: $role-main-link-colour;
  color: #fff;*/
    /* Leaving at underline only as example blocks stretch across page - could maybe use padding to sort this? Would like block hover */
  text-decoration: underline;
  text-decoration: underline solid $role-main-link-colour;
}