@media all and (min-width: $break-points-font-large) {

    /* ul */.navigation-top {
        display: block;
    }

    .about-patrick, .work-examples, .lab, .contact-nav {
        float:left;
        width: 49%;
    }

    .work-examples, .contact-nav {
        margin-left: 2%;
    }

    .main-section:after, .main-section-no-top:after, .main-section:before, .navigation-bottom:before {
        content: none;
    }

    /* .main-nav{
      display: none;
    } */

    .main, .lab-and-contact {
        // border: 1px solid #000000;
        overflow: auto;
        width: 100%;
    }

    /* .navigation-top-container {
      background-color: transparent;
    } */

    .main:after {

        content: " ";
        display: block;
        width: 10px;
        height: 16px;
        margin-left:50%;
        // background: $body-background-colour url('../img/logo/drop-blue.png') no-repeat 50% 100%;
        background: $body-background-colour url('../img/icons/icons_sprite.svg') no-repeat 0 -70px;
        // background-size:110%;
        // background-color: transparent;
        // background-position: -99px 0;
        margin-top: 3em;
        clear:both;

    }

    .lab-and-contact:before {
        content: " ";
        display: block;
        border-top: 1em solid $role-main-section-divider-colour;
        /* -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg); */
        // z-index: 9999;
        margin-bottom: 3em;
        // margin-top: 1.5em;
    }

    .navigation-top li{
        float: left;
        width: 20%;
    }

    .lab h2:after {
        content: none;
    }

    .lab h2+p:after {
        content: " ";
        display: block;
        width: 60px;
        height: 64px;
        margin:0 auto;
        background: $body-background-colour url('../img/icons/icons_sprite.svg') no-repeat 0% 0%;
        // background-size:1200%;
        margin-top: 1.5em;
    }


}