$body-background-colour: #fff;

$container-max-width: 68em;

$contact-links-icon-show-media-query: 20em;
$break-points-font-medium: 35em;
$break-points-font-large: 56em;

$logo-object-width: 637px;
$logo-object-height: 120px;
$logo-link-percent-ratio: 0.85;
$logo-link-percent: 100%*$logo-link-percent-ratio;
$logo-link-padding-bottom: $logo-link-percent * ($logo-object-height / $logo-object-width);
$logo-link-media-query: $logo-object-width / $logo-link-percent-ratio;

$logo-colours-drop-1: #f05656;
$logo-colours-drop-2: #f18020;
$logo-colours-drop-3: #8d8884;
$logo-colours-drop-4: #6587c6;
$logo-colours-green: #84b03f;
$logo-colours-hello-bg: #ddd;
$logo-colours-hello-colour: $logo-colours-drop-3;

$role-main-section-divider-colour: #ddd;
$role-main-section-drip-colour: #eee;

$role-main-link-colour: #49f;

$contact-links-icon-height: 52px;
